# ---- Django ----
SECRET_KEY=django-insecure-CV3c8mglnMKmZKOhaW4cWWmhVhyKxiqk0wU1D1jkDthyvYZlsodKhHnlzgToipnLpgE
DEBUG=0
ALLOWED_HOSTS=*

DB_NAME=project1
DB_NAME_ARCHIVE=project1_archive
DB_USER=root
DB_PASSWORD=password123
DB_HOST=db
DB_PORT=3306

REDIS_URL=redis://redis:6379

CELERY_BROKER_URL=redis://redis:6379/3
CELERY_RESULT_BACKEND=redis://redis:6379/4

# WFM host mashinada (Docker tashqarisida) ishlasa: host.docker.internal
# WFM boshqa serverda bo'lsa: http://<wfm-ip-yoki-domen>:3000/api/v1
WFM_BASE_URL=http://host.docker.internal:3000/api/v1

# MUHIM: bu token WFM .env dagi SYNC_SERVICE_TOKEN bilan AYNAN bir xil bo'lishi shart!
SYNC_SERVICE_TOKEN=e31e9b0a9f9b4bffb92240e6f7b70df3255763cd18dc447aa68992cffc1cf949

WFM_HTTP_TIMEOUT=30
